body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid;
  header {
    font-size: 1.5rem;
  }
}

@mixin btn {
  padding: 5px;
  background: #8B4513;
  color: white;
  text-decoration: none;
}

.book-card {
  padding: 2rem;

  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;

    > li {
      border: 1px solid #E2E2E2;
      list-style-type: none;
      > {
        figure {
          max-height: 220px;
          overflow: hidden;
          position: relative;
          margin: 5px;

          > img {
              width: 100%;
            }
        }

        summary {
          padding: 0 .75rem  0 0.75rem;
          font-size: 1.5rem;
          font-weight: 600;
        }

        p {
          font-size: 0.9rem;
          text-align: justify;
          padding: 1rem .75rem;
          margin-top: 0px;
          color: #666666;
        }

        a {
          @include btn();
          width: 90%;
          margin: 5px auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.btn-link {
  border: none;
  background: none;
  font-size: 1.2rem;
  margin: 10px auto;
  display: flex;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.book-container {
  display: flex;
  padding: 15px;
  h1 {
    margin-bottom: 0px;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  p {
    margin-bottom: 0px;
  }
  summary {
    background: lightgrey;
    border-radius: 2px;
    padding: 10px;
  }
}

.book-btn {
  margin: 10px 0;
  > button {
    @include btn();
    border: none;
    margin-right: 15px;
  }
}